body{
    font-family: sans-serif;
}
.container{
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px 40px 60px 40px;
    box-shadow: 10px 10px 10px 10px rgb(199, 197, 197);
}
.form{
    display: flex;
    flex-direction: column;
}
.input{
    padding: 10px;
    margin-top: 8px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid grey;
}
.input:focus {
    outline: 1px solid hotpink; 
}
.err_input{
    padding: 10px;
    margin-top: 8px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid grey;
}
.err_input:focus {
    outline: 1px solid red; 
}
.button{
    margin-top: 20px;
    height: 40px;
    background-color: hotpink;
    border: 1px solid hotpink;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(247, 115, 181, 0.904)
}
.check-if-login-btn{
    margin-top: 20px;
    cursor: pointer;
    height: 40px;
    border: 1px solid rgb(37, 37, 37);
    background-color: rgb(37, 37, 37);
    border-radius: 6px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 400px;
}
.check-if-login-btn:hover{
    background-color: rgb(58, 56, 56);
}
.error{
    color: red;
    font-size: 14px;
    margin-top: 4px;
}
.pass{
    width: 378px;
}
.icon{
    margin-top: 18px;
    font-size: larger;
    cursor: pointer;
    position: absolute;
    left: 370px;
} 
.password-field{
    display: flex;
   position: relative;
}
.message-field{
    margin-top: 8px;
    color: rgb(34, 215, 34);
    font-size: 17px;
    text-align: center;
}