.container{
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px 40px 60px 40px;
    box-shadow: 10px 10px 10px 10px rgb(199, 197, 197);
}
.form{
    display: flex;
    flex-direction: column;
}
.heading{
    font-family: sans-serif;
}
.input{
    padding: 10px;
    margin-top: 8px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid grey;
}
.input:focus {
    outline: 1px solid hotpink; 
}
.button{
    margin-top: 20px;
    height: 40px;
    background-color: hotpink;
    border: 1px solid hotpink;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
.check-if-login-btn{
    margin-top: 20px;
    cursor: pointer;
    height: 40px;
    border: 1px solid rgb(67, 158, 222);
    background-color: rgb(67, 158, 222);
    border-radius: 6px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 400px;
}